[Desktop Entry]
Version=1.0
Type=Link
Name=Convert Excel to HTML Table - Table Convert Online
Comment=
Icon=user-bookmarks
URL=https://tableconvert.com/excel-to-html
